body{
    background-color: black;
}

h1{
    color: white;
}

p{
  color: azure;
}


#ans{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    background-color: green;
    color: white;
}
